# Groq
GROQ_API_KEY=
NEXT_PUBLIC_MODEL_TUTOR=llama-3.3-70b-versatile
NEXT_PUBLIC_MODEL_ANALYZER=llama-3.3-70b-versatile
NEXT_PUBLIC_MODEL_DASHBOARD=llama-3.1-8b-instant

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://opzmmvshkgtszjbgcjqi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=
NEXT_PUBLIC_DEMO_USER_ID=
